/*  work sans font from google fonts */
* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.btn-primary {
    width: 200px;
    height: 70px;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: none;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}

/* Header style */
header {
    background-color: rgba(255, 238, 0, 0.315);
    padding: 50px 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 30px;
}

nav li {
    list-style: none;

}

nav a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}

.nav-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
}

/* Banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-discription {
    color: #727272;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Team styles */
.teams-container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}

.teams-title {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    color: #727272;
}

.our {
    color: #131313;
    font-weight: 700;
}

.feature {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #727272;
    margin-bottom: 2rem;
    text-align: justify;
}



/* Mobile devices */
@media screen and (max-width: 576px) {

    header,
    nav ul {
        padding: 10px 10px;
    }

    nav {
        flex-direction: column;
    }

}

/* Tablet or */
@media screen and (min-width: 576px) and (max-width: 960px) {

    header,
    nav ul {
        padding: 10px 10px;
    }

    nav {
        flex-direction: column;
    }

}